USE [infrend]
GO
/****** Object:  UserDefinedFunction [dbo].[fc_SubStringIn]    Script Date: 03/08/2012 08:52:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fc_SubStringIn] (
	@REGISTRO VARCHAR(8000),
	@NO_PROPRIEDADE VARCHAR(255),
	@ID_SPEC_ARQUIVO BIGINT
    )
   
RETURNS NVARCHAR(1024)

AS

BEGIN
	DECLARE @INIT_POS INT,
			@TAMANHO INT
	
	SET @INIT_POS = (SELECT SUM(P.VL_TAMANHO) 
        FROM PROPRIEDADE P
            INNER JOIN SPEC_ARQUIVO_PROPRIEDADE SAP
            ON (SAP.ID_PROPRIEDADE = P.ID_PROPRIEDADE AND SAP.ID_SPEC_ARQUIVO = @ID_SPEC_ARQUIVO)
        WHERE P.ID_LAYOUT_ARQUIVO = 3 AND P.NU_ORDEM < (SELECT P.NU_ORDEM FROM PROPRIEDADE P
                            INNER JOIN SPEC_ARQUIVO_PROPRIEDADE SAP
                            ON (SAP.ID_PROPRIEDADE = P.ID_PROPRIEDADE AND SAP.ID_SPEC_ARQUIVO = @ID_SPEC_ARQUIVO) 
                            WHERE P.NO_PROPRIEDADE LIKE @NO_PROPRIEDADE))
                         
    IF(@INIT_POS IS NULL)   
    	SET @INIT_POS =  1
    ELSE SET @INIT_POS = @INIT_POS+1
	
    SET @TAMANHO = (SELECT P.VL_TAMANHO FROM PROPRIEDADE P
							INNER JOIN SPEC_ARQUIVO_PROPRIEDADE SAP
							ON (SAP.ID_PROPRIEDADE = P.ID_PROPRIEDADE AND SAP.ID_SPEC_ARQUIVO = @ID_SPEC_ARQUIVO) 
						WHERE P.ID_LAYOUT_ARQUIVO = 3 AND P.NO_PROPRIEDADE LIKE @NO_PROPRIEDADE)

	RETURN SUBSTRING(@REGISTRO, @INIT_POS, @TAMANHO)	
END
