USE [infrend]
GO
/****** Object:  Table [dbo].[OPERACAO]    Script Date: 08/10/2012 08:43:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACAO](
	[ID_OPERACAO] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_OPERACAO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_OPERACAO] PRIMARY KEY CLUSTERED 
(
	[ID_OPERACAO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF