USE [infrend]
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertOcorrenciaPj]    Script Date: 02/08/2013 09:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_InsertOcorrenciaPj] 
	@ID_SPEC_ARQUIVO BIGINT,
    @ANO INT,
	@MES_FIM INT,
	@ID_OPERACAO BIGINT,
	@ID_DADO_BANCARIO BIGINT,
	@REGISTRO VARCHAR(8000)
AS
BEGIN
	DECLARE @MES_INI INT,
			@POSICAO_REND INT,
			@INC INT,
            @RENDIMENTOS VARCHAR(288),
			@RENDIMENTO VARCHAR(12),
            @IMPOSTO VARCHAR(12),
			@ID_OCORRENCIA BIGINT,

			@ErrorMessage NVARCHAR(4000),
			@ErrorSeverity INT,
			@ErrorState INT

	--SET @RENDIMENTOS = dbo.fc_SubStringIn(@REGISTRO, 'rendimentos', @ID_SPEC_ARQUIVO)
	exec usp_GetPropertyValue 'rendimentos', @REGISTRO, @ID_SPEC_ARQUIVO, @RENDIMENTOS OUT
	SET @INC = 12
	SET @POSICAO_REND = ((@MES_FIM/3 - 1) * 2 * @INC * 3) + 1
	--SET @POSICAO_REND = ((@TRIMESTRE - 1) * 3 * 2 * @INC) + 1

	--SET @MES_FIM = @TRIMESTRE * 3
	SET @MES_INI = @MES_FIM - 2

	-- SE FOR CONTA_CORRENTE HA UM RENDIMENTO SEMPRE NO QUARTO TRIMESTRE, POREM NOS PRIMEIROS MESES
	IF @ID_OPERACAO = 1
	BEGIN
		SET @MES_INI = 1
		SET @MES_FIM = 1
	END

	WHILE(@MES_INI <= @MES_FIM)
	BEGIN
		BEGIN TRY
			SET @RENDIMENTO = SUBSTRING(@RENDIMENTOS, @POSICAO_REND, @INC)
			SET @POSICAO_REND = @POSICAO_REND + @INC

			SET @IMPOSTO = SUBSTRING(@RENDIMENTOS, @POSICAO_REND, @INC)
			SET @POSICAO_REND = @POSICAO_REND + @INC
		
			INSERT INTO 
			OCORRENCIA_PJ(
				ID_DADO_BANCARIO,
				AN_OCORRENCIA,
				ME_OCORRENCIA,
				ID_OPERACAO,
				VL_RENDIMENTO,
				VL_IMPOSTO_RENDA
			) 
			VALUES(
				@ID_DADO_BANCARIO,
				@ANO,
				@MES_INI,
				@ID_OPERACAO,
				CONVERT(NUMERIC, @RENDIMENTO)/POWER(10, 2),
				CONVERT(NUMERIC, @IMPOSTO)/POWER(10, 2)
			)
		END TRY
		BEGIN CATCH
			IF ERROR_NUMBER() = 2627 -- Violation of UNIQUE KEY constr
			BEGIN -- BEGIN IF
				-- CASO A OCORRENCIA JA EXISTA PARA OUTRO TIPO DE OPERAÇÃO COM MESMO ID (EX.: FUNDOS E FUNDOS_NOR)
				SET @ID_OCORRENCIA = (SELECT O.ID_OCORRENCIA_PJ FROM OCORRENCIA_PJ O
									WHERE O.ID_DADO_BANCARIO = @ID_DADO_BANCARIO
									AND O.ID_OPERACAO = @ID_OPERACAO
									AND O.AN_OCORRENCIA = @ANO
									AND O.ME_OCORRENCIA = @MES_INI)
				UPDATE OCORRENCIA_PJ 
					SET 
						VL_RENDIMENTO = (SELECT VL_RENDIMENTO FROM OCORRENCIA_PJ WHERE ID_OCORRENCIA_PJ = @ID_OCORRENCIA) + 
							CONVERT(NUMERIC, @RENDIMENTO)/POWER(10, 2),
						VL_IMPOSTO_RENDA = (SELECT VL_IMPOSTO_RENDA FROM OCORRENCIA_PJ WHERE ID_OCORRENCIA_PJ = @ID_OCORRENCIA) + 
							CONVERT(NUMERIC, @IMPOSTO)/POWER(10, 2)
					WHERE ID_OCORRENCIA_PJ = @ID_OCORRENCIA
			END -- END IF
			ELSE
			BEGIN -- BEGIN ELSE
				SELECT 
					@ErrorMessage = ERROR_MESSAGE(),
					@ErrorSeverity = ERROR_SEVERITY(),
					@ErrorState = ERROR_STATE()
				
				RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState)
				BREAK
			END -- END ELSE
		END CATCH
		SET @MES_INI = @MES_INI + 1
	END -- END WHILE
END
