USE [infrend]
GO
/****** Object:  Table [dbo].[OCORRENCIA_PJ]    Script Date: 02/15/2013 11:43:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCORRENCIA_PJ](
	[ID_OCORRENCIA_PJ] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_DADO_BANCARIO] [bigint] NOT NULL,
	[AN_OCORRENCIA] [int] NOT NULL,
	[ME_OCORRENCIA] [int] NOT NULL,
	[ID_OPERACAO] [bigint] NOT NULL,
	[VL_RENDIMENTO] [numeric](12, 2) NOT NULL,
	[VL_IMPOSTO_RENDA] [numeric](12, 2) NOT NULL,
 CONSTRAINT [PK_OCORRENCIA_PJ_1] PRIMARY KEY CLUSTERED 
(
	[ID_OCORRENCIA_PJ] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_OCORRENCIA_PJ] UNIQUE NONCLUSTERED 
(
	[AN_OCORRENCIA] ASC,
	[ME_OCORRENCIA] ASC,
	[ID_OPERACAO] ASC,
	[ID_DADO_BANCARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[OCORRENCIA_PJ]  WITH CHECK ADD  CONSTRAINT [FK_OCORRENCIA_PJ_DADO_BANCARIO] FOREIGN KEY([ID_DADO_BANCARIO])
REFERENCES [dbo].[DADO_BANCARIO] ([ID_DADO_BANCARIO])
GO
ALTER TABLE [dbo].[OCORRENCIA_PJ] CHECK CONSTRAINT [FK_OCORRENCIA_PJ_DADO_BANCARIO]
GO
ALTER TABLE [dbo].[OCORRENCIA_PJ]  WITH CHECK ADD  CONSTRAINT [FK_OCORRENCIA_PJ_OPERACAO] FOREIGN KEY([ID_OPERACAO])
REFERENCES [dbo].[OPERACAO] ([ID_OPERACAO])
GO
ALTER TABLE [dbo].[OCORRENCIA_PJ] CHECK CONSTRAINT [FK_OCORRENCIA_PJ_OPERACAO]