USE [infrend]
GO
/****** Object:  Table [dbo].[TIPO_PROPRIEDADE]    Script Date: 08/09/2012 12:48:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_PROPRIEDADE](
	[ID_TIPO_PROPRIEDADE] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_TIPO_PROPRIEDADE] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_PROPRIEDADE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_PROPRIEDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__TIPO_PROPRIEDADE__5F7E2DAC] UNIQUE NONCLUSTERED 
(
	[DS_TIPO_PROPRIEDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF