USE [infrend]
GO
/****** Object:  Table [dbo].[TIPO_ARQUIVO]    Script Date: 08/09/2012 12:48:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TIPO_ARQUIVO](
	[ID_TIPO_ARQUIVO] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_TIPO_ARQUIVO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_ARQUIVO] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__TIPO_ARQUIVO__634EBE90] UNIQUE NONCLUSTERED 
(
	[DS_TIPO_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF