USE [infrend]
GO
/****** Object:  Table [dbo].[SPEC_ARQUIVO]    Script Date: 08/09/2012 12:47:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SPEC_ARQUIVO](
	[ID_SPEC_ARQUIVO] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_SISTEMA_ORIGEM] [varchar](255) NOT NULL,
	[TX_PATTERN] [varchar](255) NOT NULL,
	[DIR_ORIGEM] [varchar](255) NOT NULL,
	[DIR_DESTINO] [varchar](255) NULL,
	[ID_TIPO_ARQUIVO] [bigint] NOT NULL,
 CONSTRAINT [PK_SPEC_ARQUIVO] PRIMARY KEY CLUSTERED 
(
	[ID_SPEC_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[SPEC_ARQUIVO]  WITH CHECK ADD  CONSTRAINT [FK_SPEC_ARQUIVO_TIPO_ARQUIVO] FOREIGN KEY([ID_TIPO_ARQUIVO])
REFERENCES [dbo].[TIPO_ARQUIVO] ([ID_TIPO_ARQUIVO])
GO
ALTER TABLE [dbo].[SPEC_ARQUIVO] CHECK CONSTRAINT [FK_SPEC_ARQUIVO_TIPO_ARQUIVO]