USE [infrend]
GO
/****** Object:  Table [dbo].[SPEC_ARQUIVO_PROPRIEDADE]    Script Date: 08/09/2012 12:47:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPEC_ARQUIVO_PROPRIEDADE](
	[ID_SPEC_ARQUIVO] [bigint] NOT NULL,
	[ID_PROPRIEDADE] [bigint] NOT NULL,
 CONSTRAINT [PK_SPEC_ARQUIVO_PROPRIEDADE] PRIMARY KEY CLUSTERED 
(
	[ID_SPEC_ARQUIVO] ASC,
	[ID_PROPRIEDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[SPEC_ARQUIVO_PROPRIEDADE]  WITH CHECK ADD  CONSTRAINT [FK_SPEC_ARQUIVO_LAYOUT_ARQUIVO_SPEC_ARQUIVO] FOREIGN KEY([ID_SPEC_ARQUIVO])
REFERENCES [dbo].[SPEC_ARQUIVO] ([ID_SPEC_ARQUIVO])
GO
ALTER TABLE [dbo].[SPEC_ARQUIVO_PROPRIEDADE] CHECK CONSTRAINT [FK_SPEC_ARQUIVO_LAYOUT_ARQUIVO_SPEC_ARQUIVO]
GO
ALTER TABLE [dbo].[SPEC_ARQUIVO_PROPRIEDADE]  WITH CHECK ADD  CONSTRAINT [FK_SPEC_ARQUIVO_PROPRIEDADE_PROPRIEDADE] FOREIGN KEY([ID_PROPRIEDADE])
REFERENCES [dbo].[PROPRIEDADE] ([ID_PROPRIEDADE])
GO
ALTER TABLE [dbo].[SPEC_ARQUIVO_PROPRIEDADE] CHECK CONSTRAINT [FK_SPEC_ARQUIVO_PROPRIEDADE_PROPRIEDADE]