USE [infrend]
GO
/****** Object:  Table [dbo].[STATUS_ARQUIVO]    Script Date: 08/09/2012 12:48:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[STATUS_ARQUIVO](
	[ID_STATUS_ARQUIVO] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_STATUS_ARQUIVO] [varchar](50) NOT NULL,
 CONSTRAINT [PK_STATUS_ARQUIVO] PRIMARY KEY CLUSTERED 
(
	[ID_STATUS_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__STATUS_ARQUIVO__65370702] UNIQUE NONCLUSTERED 
(
	[DS_STATUS_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF