USE [infrend]
GO
/****** Object:  Table [dbo].[PROPRIEDADE]    Script Date: 02/08/2013 09:49:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PROPRIEDADE](
	[ID_PROPRIEDADE] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_PROPRIEDADE] [varchar](50) NOT NULL,
	[DS_PROPRIEDADE] [varchar](255) NULL,
	[VL_TAMANHO] [int] NOT NULL,
	[NU_ORDEM] [int] NOT NULL,
	[ID_TIPO_PROPRIEDADE] [bigint] NOT NULL,
	[ID_LAYOUT_ARQUIVO] [bigint] NOT NULL,
 CONSTRAINT [PK_PROPRIEDADE] PRIMARY KEY CLUSTERED 
(
	[ID_PROPRIEDADE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_PRORPIEDADE] UNIQUE NONCLUSTERED 
(
	[NO_PROPRIEDADE] ASC,
	[VL_TAMANHO] ASC,
	[NU_ORDEM] ASC,
	[ID_TIPO_PROPRIEDADE] ASC,
	[ID_LAYOUT_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[PROPRIEDADE]  WITH CHECK ADD  CONSTRAINT [FK_PROPRIEDADE_LAYOUT_ARQUIVO1] FOREIGN KEY([ID_LAYOUT_ARQUIVO])
REFERENCES [dbo].[LAYOUT_ARQUIVO] ([ID_LAYOUT_ARQUIVO])
GO
ALTER TABLE [dbo].[PROPRIEDADE] CHECK CONSTRAINT [FK_PROPRIEDADE_LAYOUT_ARQUIVO1]
GO
ALTER TABLE [dbo].[PROPRIEDADE]  WITH CHECK ADD  CONSTRAINT [FK_PROPRIEDADE_TIPO_PROPRIEDADE] FOREIGN KEY([ID_TIPO_PROPRIEDADE])
REFERENCES [dbo].[TIPO_PROPRIEDADE] ([ID_TIPO_PROPRIEDADE])
GO
ALTER TABLE [dbo].[PROPRIEDADE] CHECK CONSTRAINT [FK_PROPRIEDADE_TIPO_PROPRIEDADE]