USE [infrend]
GO
/****** Object:  Table [dbo].[OCORRENCIA_PF]    Script Date: 02/08/2013 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCORRENCIA_PF](
	[ID_OCORRENCIA_PF] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
	[AN_OCORRENCIA] [int] NOT NULL,
	[ID_OPERACAO] [bigint] NOT NULL,
	[VL_SALDO_ANTERIOR] [numeric](10, 2) NOT NULL,
	[VL_SALDO_ATUAL] [numeric](10, 2) NOT NULL,
	[VL_RENDIMENTO] [numeric](10, 2) NOT NULL,
 CONSTRAINT [PK_OCORRENCIA_PF] PRIMARY KEY CLUSTERED 
(
	[ID_OCORRENCIA_PF] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_OCORRENCIA_PF] UNIQUE NONCLUSTERED 
(
	[ID_CLIENTE] ASC,
	[AN_OCORRENCIA] ASC,
	[ID_OPERACAO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[OCORRENCIA_PF]  WITH CHECK ADD  CONSTRAINT [FK_OCORRENCIA_PF_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[OCORRENCIA_PF] CHECK CONSTRAINT [FK_OCORRENCIA_PF_CLIENTE]
GO
ALTER TABLE [dbo].[OCORRENCIA_PF]  WITH CHECK ADD  CONSTRAINT [FK_OCORRENCIA_PF_OPERACAO] FOREIGN KEY([ID_OPERACAO])
REFERENCES [dbo].[OPERACAO] ([ID_OPERACAO])
GO
ALTER TABLE [dbo].[OCORRENCIA_PF] CHECK CONSTRAINT [FK_OCORRENCIA_PF_OPERACAO]