USE [infrend]
GO
/****** Object:  Table [dbo].[LAYOUT_ARQUIVO]    Script Date: 08/09/2012 12:46:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LAYOUT_ARQUIVO](
	[ID_LAYOUT_ARQUIVO] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_LAYOUT_ARQUIVO] [nvarchar](50) NOT NULL,
	[ID_TIPO_LAY_ARQ] [numeric](19, 2) NULL,
 CONSTRAINT [PK_LAYOUT_ARQUIVO] PRIMARY KEY CLUSTERED 
(
	[ID_LAYOUT_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
