USE [infrend]
GO
/****** Object:  Table [dbo].[REGISTRO_ARQUIVO]    Script Date: 12/21/2012 13:39:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REGISTRO_ARQUIVO](
	[TX_REGISTRO] [varchar](8000) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF