USE [infrend]
GO
/****** Object:  Table [dbo].[ARQUIVO_PROCESSADO]    Script Date: 02/08/2013 09:43:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ARQUIVO_PROCESSADO](
	[ID_ARQUIVO_PROCESSADO] [bigint] IDENTITY(1,1) NOT NULL,
	[NO_ARQUIVO_PROCESSADO] [varchar](255) NOT NULL,
	[DT_CALENDARIO] [datetime] NOT NULL,
	[ID_STATUS_ARQUIVO] [bigint] NOT NULL,
	[ID_SPEC_ARQUIVO] [bigint] NOT NULL,
	[DT_PROCESSAMENTO] [datetime] NULL,
 CONSTRAINT [PK_ARQUIVO_PROCESSADO] PRIMARY KEY CLUSTERED 
(
	[ID_ARQUIVO_PROCESSADO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_ARQUIVO_PROCESSADO] UNIQUE NONCLUSTERED 
(
	[NO_ARQUIVO_PROCESSADO] ASC,
	[ID_SPEC_ARQUIVO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[ARQUIVO_PROCESSADO]  WITH CHECK ADD  CONSTRAINT [FK_ARQUIVO_PROCESSADO_SPEC_ARQUIVO] FOREIGN KEY([ID_SPEC_ARQUIVO])
REFERENCES [dbo].[SPEC_ARQUIVO] ([ID_SPEC_ARQUIVO])
GO
ALTER TABLE [dbo].[ARQUIVO_PROCESSADO] CHECK CONSTRAINT [FK_ARQUIVO_PROCESSADO_SPEC_ARQUIVO]
GO
ALTER TABLE [dbo].[ARQUIVO_PROCESSADO]  WITH CHECK ADD  CONSTRAINT [FK_ARQUIVO_PROCESSADO_STATUS_ARQUIVO] FOREIGN KEY([ID_STATUS_ARQUIVO])
REFERENCES [dbo].[STATUS_ARQUIVO] ([ID_STATUS_ARQUIVO])
GO
ALTER TABLE [dbo].[ARQUIVO_PROCESSADO] CHECK CONSTRAINT [FK_ARQUIVO_PROCESSADO_STATUS_ARQUIVO]