USE [infrend]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 08/09/2012 12:46:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[CD_CLIENTE] [varchar](15) NOT NULL,
	[ID_TIPO_CLIENTE] [bigint] NOT NULL,
	[NO_CLIENTE] [varchar](50) NOT NULL,
	[NO_LOGRADOURO] [varchar](60) NOT NULL,
	[NO_BAIRRO] [varchar](20) NOT NULL,
	[NO_CIDADE] [varchar](20) NOT NULL,
	[SG_ESTADO] [varchar](2) NOT NULL,
	[CD_CEP] [varchar](8) NOT NULL,
	[NU_AGENCIA] [varchar](3) NOT NULL,
	[NU_CONTA] [varchar](6) NOT NULL,
	[NU_DIGITO] [varchar](1) NOT NULL,
 CONSTRAINT [PK_CLIENTE_1] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_CLIENT] UNIQUE NONCLUSTERED 
(
	[CD_CLIENTE] ASC,
	[NU_AGENCIA] ASC,
	[NU_CONTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTE_TIPO_CLIENTE] FOREIGN KEY([ID_TIPO_CLIENTE])
REFERENCES [dbo].[TIPO_CLIENTE] ([ID_TIPO_CLIENTE])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CLIENTE_TIPO_CLIENTE]