USE [infrend]
GO
/****** Object:  Table [dbo].[TIPO_CLIENTE]    Script Date: 08/09/2012 12:48:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CLIENTE](
	[ID_TIPO_CLIENTE] [bigint] IDENTITY(1,1) NOT NULL,
	[DS_TIPO_CLIENTE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TIPO_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_TIPO_CLIENTE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
