USE [infrend]
GO
/****** Object:  Table [dbo].[DADO_BANCARIO]    Script Date: 02/15/2013 11:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DADO_BANCARIO](
	[ID_DADO_BANCARIO] [bigint] IDENTITY(1,1) NOT NULL,
	[NU_AGENCIA] [varchar](3) NOT NULL,
	[NU_CONTA] [varchar](7) NOT NULL,
	[ID_CLIENTE] [bigint] NOT NULL,
 CONSTRAINT [PK_DADO_BANCARIO] PRIMARY KEY CLUSTERED 
(
	[ID_DADO_BANCARIO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UK_DADO_BANCARIO] UNIQUE NONCLUSTERED 
(
	[NU_AGENCIA] ASC,
	[NU_CONTA] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DADO_BANCARIO]  WITH CHECK ADD  CONSTRAINT [FK_DADO_BANCARIO_CLIENTE] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[DADO_BANCARIO] CHECK CONSTRAINT [FK_DADO_BANCARIO_CLIENTE]