USE [infrend]
GO
/****** Object:  Table [dbo].[OPERACAO]    Script Date: 08/09/2012 12:47:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OPERACAO](
	[ID_OPERACAO] [bigint] NOT NULL,
	[DS_OPERACAO] [varchar](20) NOT NULL,
 CONSTRAINT [PK_OPERACAO] PRIMARY KEY CLUSTERED 
(
	[ID_OPERACAO] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF