body {
	padding-right: 0px;
	padding-left: 0px;
	background: #ffffff;
	padding-bottom: 0px;
	margin: 0px;
	color: #000000;
	padding-top: 0px;
}

label {
    color: #006633;
    font: bold 11px Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

span {
	color: #026A37;
    font: bold 11px Tahoma,Verdana,Arial,Helvetica,sans-serif;
}

input, select {
    background-color: #F8FEF0;
    background-position: 5px 10px;
    border: 1px solid #CCCCCC;
    color: #000000;
    font-family: Tahoma;
    font-size: 11px;
    margin-bottom: 4px;
    margin-top: 4px;
}

#page {
	width: auto;
}

#header {
	width: auto;
}

#main-menu {
    background-color: #EFEFF1;
    padding-top: 10px;
    text-align: center;
    width: auto;
}

div.content {
	padding: 30px !important;
}

.footer {
	font-family: Tahoma;
	font-size: 11px;
	color: #666666;
	padding-top: 9px;
	text-align: center;
	font-weight: normal;
	width: 100%;
	position: absolute;
	background: url(../resources/images/rodape_fundo.gif) repeat-x;
	vertical-align: middle;
}

#topo {
	background-image: url('../resources/images/menu_fundo_superior3.jpg');
	background-repeat: repeat;
	height: 66px;
}

.barra-topo {
	background: #fdc246;
	width: 100%;
	height: 14px;/*14 pois o .ui-layout-resizer-north possui por default height: 6px;*/
	text-align: right;
}

.titulo-campos {
	font-family: Tahoma;
	font-size: 11px;
	color: #685551;
	font-weight: bold;
	background-color: #BADCCB;
}

.campo-texto {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #F8FEF0;
	background-position: 5px 10px;
	border: 1px solid #CCCCCC;
}

.texto {
	font-family: Tahoma;
	font-size: 11px;
	color: #006633;
	padding: 5px 0;
	margin-right: 20px;
}

.botao {
	margin-top: 10px;
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	background-color: #F8FEF0;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: ridge;
	border-right-style: ridge;
	border-bottom-style: ridge;
	border-left-style: ridge;
	border-top-color: #F2F2F2;
	border-right-color: #EBEBEB;
	border-bottom-color: #EBEBEB;
	border-left-color: #F3F3F3;
	margin-left: 20px; height : 20px;
	width: 90px;
	height: 20px;
}

.bgbotao {
	background-image: url(../resources/images/bkg_tb_submit.gif);
	padding-top: 5px;
	background-repeat: repeat-x;
	height: 50px;
	margin-top: 50px;
}

#divisoria {
	border: 2px #FDC246 solid;
}

.texto span {
	width: 50px;
	display: inline-block
}

#nome-sistema {
	background-image: url('../resources/images/menu_fundo_superior.jpg');
	float: left;
	height: 66px;
	width: 750px;
}

#fundo-logo {
	background-image: url('../resources/images/menu_fundo_superior.jpg');
	background-repeat: no-repeat;
	height: 66px;
}

#logo {
	margin: 20px 20px;
	float: right;
}

#welcome {
	margin-top: 5px;
	margin-left: 25px;
	color: #fff;
	font: bold 10px sans-serif;
	position: absolute;
	z-index: 1000px; 
}

#selecao-tipo-pessoa td {
	width: 300px;
}

.voce {
	font-family: Tahoma;
	font-size: 9px;
	color: #666666;
	margin-right: 2px; 
}

.navigated-link {
	font-family: Tahoma;
	font-size: 9px;
	color: #989797;
	margin-right: 2px;
}
.current-link {
	font-family: Tahoma;
	font-size: 11px;
	color: #026A37;
	margin-right: 2px;
}